[aws]
aws_region_name = us-east-1

# Uncomment and fill in the following lines with your AWS credentials.
# DO NOT CHECK A FILE INTO THE REPOSITORY WITH CREDENTIALS FILLED IN.
# aws_access_key_id = AWSACCESSKEYID
# aws_secret_access_key = AWSSECRETKEY

[cluster mycluster]
vpc_settings = myvpc
ebs_settings = myebs
key_name = tj-macbook
ec2_iam_role = CfnClusterInstanceRole
post_install = https://gist.githubusercontent.com/kdaily/1e0a2d1fcef1c6847f743f637301a3d5/raw/75750971bce5c475465d9702a92d188a4c53099b/bsmn-pipeline-post-install.sh
master_instance_type = c5.large
#compute_instance_type = c5.9xlarge
compute_instance_type = m5.12xlarge
initial_queue_size = 0
max_queue_size = 1000
cluster_type = spot
#spot_price = 1.0
spot_price = 2.0

[vpc myvpc]
master_subnet_id = subnet-xxxx
vpc_id = vpc-xxxx                          # for EFS mount
additional_sg = sg-xxxx                    # for EFS mount

[ebs myebs]
ebs_snapshot_id = snap-xxxx       # backup snapshot for /shared

[global]
update_check = true
sanity_check = true
cluster_template = mycluster
